
.Box
{
width:475px;
height:125px;
background-color:#532090;
color:#ddbff5;
font-size: 50px;
margin-left:38%;
text-align:center;

}

body
{

background-image: linear-gradient(#efc1f5,#efdded,#eca6d0,#efc1f5);

}

.About
{
font-size:25px;
color:#085ea4;
max-width:700px;
float:left;
}

.ImageOne
{

float:left;
margin-top:35px;
width:300px;
height:200px;
}

.Hobby
{
font-size:25px;
color:#085ea4;
max-width:700px;
margin-top:40px;


}

.ImageTwo
{
float:left;
width:200px;
height:200px;


}
