.blue
{
height:2000px;
width:2000px;
background-color:blue;
color:red;

}


.purple
{
height:50px;
width:50px;
color:purple;
max-width:20px;
}

.newimage
{
height:400px;
width:400px;
}


.lacrosse
{
height:130px;
width:500px;
color:red;
background-color:Green;


.anotherimage
{
height:400px;
width:400px;
}



}