.blue
{
height:200px;
max-width:300px;
color:red;

}
body
{
background-image: linear-gradient(#470ae1,#cdbcfe,#581bb3,#470ae1);
}

.purple
{
height:50px;
width:50px;
color:purple;
max-width:20px;
}

.newimage
{
height:400px;
width:400px;
}


.lacrosse
{
height:130px;
width:500px;
color:red;
background-color:Green;

}
.anotherimage
{
height:400px;
margin-top:700px;
max-width:400px;
margin-left:100px;
}

.yellow
{
height:130px;
width:500px;
color:red;
background-color:Yellow;

}


